@import url('https://fonts.googleapis.com/css?family=Cabin|Trirong');

* {
	padding: 0;
	margin: 0;
}

/*header {
	background: #FFFFFF;
	padding: 10px;
}
*/

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

body {
	background-color: #4E823A;
	color: #FFFFFF;
}

section {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

main {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

/*footer {
	background: #FFFFFF;
	padding: 10px;
	color: #4E823A;
	text-align: center;
	text-decoration: none;
}*/

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

a {
	font-family: 'Cabin', sans-serif;
	color: inherit;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	font-family: 'Trirong', serif;
	font-weight: 900;
	color: #4E823A;
	text-align: center;
}

img {
	padding: 15px;
	margin: auto;
	border-radius: 8px;
	display: block;
	width: 50%;
	max-width: 100%;
	height: auto;

}

#navbar {
	font-family: 'Cabin', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	margin: 6px;
	padding-top: 2px;
	text-decoration: none;
	letter-spacing: 2px;
}

#slogan {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	color: #1C3340;
	text-align: center;
	line-height: 2em;
}

.paragraph {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	margin-left: 200px;
	margin-right: 200px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}