@import url('https://fonts.googleapis.com/css?family=Arvo|Noto+Serif|Pacifico');

* {
	padding: 0;
	margin: 0;
}

header {
    background: #000000;
}

body {
	background: #000000;
    color: #FFFFFF;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-weight: 900px;
	color: #FFFFFF;
	text-align: center
}

h2 {
	font-family: 'Noto Serif', serif;
	font-weight: 700px;
	color: #FFF;
	text-align: center
}

img {
    width: 300px;
    height: 300px;
}

footer {
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

table { 
    margin: 1em auto;
    color: #FFFFFF;
 }

#intro {
    color: #FFF;
    font-family: 'Arvo', serif;
   /* position: fixed;*/
    top: 50%;
    left: 50%;
    height: 400px;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;
    text-align: center;
}

.header {
    font-family: 'Noto Serif', serif;
    font-weight: 400px;
    padding: 5px;
}