@import url('https://fonts.googleapis.com/css?family=Arvo|Noto+Serif|Pacifico');

* {
	padding: 0;
	margin: 0;
}

header {
    background: #000000;
}

body {
	background: #000000;
    color: #FFFFFF;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-weight: 900px;
	color: #FFFFFF;
	text-align: center
}

h2 {
	font-family: 'Arvo', serif;
	font-weight: 700px;
	color: #FFF;
	text-align: center
}

img {
    width: 300px;
    height: 300px;
}

footer {
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

table { 
    margin: 1em auto;
    color: #FFFFFF;
 }

#intro {
    color: #FFF;
    /*position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;*/
    /*width: 60%;
    top: 20%;
    bottom: 20%;
    height: 80%;
    left: 10%;
    right: 10%;*/
    text-align: center;
}

.caption {
    color: #FFF;
    margin: 5px; 
    text-align: center; 
    font-style: italic; 
    font-size: 12px; 
}

.header {
    font-family: 'Noto Serif', serif;
    font-weight: 400px;
}