@import url('https://fonts.googleapis.com/css?family=Cabin|Trirong');

* {
	padding: 0;
	margin: 0;
}

header {
	background: #FFFFFF;
	padding: 10px;
}

body {
	background-color: #4E823A;
	color: #FFFFFF;
}

footer {
	background: #FFFFFF;
	padding: 10px;
	color: #4E823A;
	text-align: center;
	text-decoration: none;
}

a {
	font-family: 'Cabin', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	font-family: 'Trirong', serif;
	font-weight: 900;
	color: #4E823A;
	text-align: center;
}

img {
	padding: 15px;
	margin: auto;
	border-radius: 8px;
	display: block;
	width: 50%;
	max-width: 100%;
	height: auto;

}

#navbar {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	color: #FFFFFF;
	text-align: center;
	margin: 6px;
	text-decoration: none;
	letter-spacing: 2px;
}

#slogan {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	color: #1C3340;
	text-align: center;
	line-height: 2em;
}

.paragraph {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	margin-left: 200px;
	margin-right: 200px;
}