* {
	padding: 0;
	margin: 0;
}

header {
	background: #FFFFFF;
	padding: 15px;
}

body {
	background-color: #4E823A;
	color: #FFFFFF;
}

footer {
	background: #FFFFFF;
	padding: 15px;
	color: #4E823A;
	text-align: center;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	color: #4E823A;
	text-align: center;
}

img {
	padding: 15px;
	margin: auto;
	border-radius: 8px;
	display: block;
	width: 50%;
	max-width: 100%;
	height: auto;

}

#navbar {
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	color: #4E823A;
	text-align: center;
	margin: 6px;
	text-decoration: none;
}

#slogan {
	text-transform: lowercase;
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	color: #1C3340;
	text-align: center;
}

.paragraph {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: 500;
}